<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <script
      src="https://kit.fontawesome.com/f4b0a1f9eb.js"
      crossorigin="anonymous"
    ></script>
    <script src="./js/jsScripts.js" defer></script>
    <title>About Us - Flores Brother Cabinet | Austin, TX</title>
  </head>

  <body>
    <header>
      <div class="container">
        <div id="branding"> 
          <img src="./img/CabinetLogo.png" alt="company-logo" />
        </div>
        <nav class="nav">
          <div class="nav-mobile"></div>
          <ul class="nav-list">
            <li class="nav-item">
              <a class="current" href="/">Home</a>
            </li>
            <li class="nav-item"><a href="./about">About Us</a></li>
            <li class="nav-item"><a href="./gallery">Gallery</a></li>
            <!-- <li><a href="about.htm">Process</a></li> -->
            <li class="nav-item"><a href="./contact"> Contact Us </a></li>
          </ul>
        </nav>

      </div>
    </header>

    <!-- showcase image with message from business - how you can help -->
    <!-- https://blog.hubspot.com/marketing/remarkable-about-us-page-examples -->
    <section id="about-us">
      <div class="container">
        <div class="about-showcase">
          <div class="about-message">
            <h3>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt
              minus consectetur maiores.
            </h3>
            <p>
              Get in touch with us to get started on your personalized space nd
              transform your design dream into a reality
            </p>
          </div>
          <!-- <button>Contact Us</button> -->
          <p>
            <a href="./contact" class="about-showcase-button"
              >Contact Us</a
            >
          </p>
        </div>

        <!-- process description section -->
        <div class="about-process">
          <h3>Remodeling Process.</h3>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
            modi architecto eius unde a repellat nobis, aperiam porro accusamus
            quibusdam illo, repellendus dolorem totam tempore harum hic at quis
            natus sequi adipisci sapiente est saepe perferendis quas. Laboriosam
            asperiores, consequuntur dignissimos voluptas, doloribus expedita
            quae ad est quaerat debitis illum sunt facere eos quibusdam. Neque
            ut velit quidem dolorem quam?
          </p>

          <!-- consultation -->
          <div class="consultation box-separator">
            <div class="column">
              <img src="./img/about-consultation.jpg" alt="" />
            </div>

            <div class="column">
              <h2>Consultation</h2>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam
                ab voluptatum alias illo, fuga sint eum ipsa fugit cupiditate
                hic, ipsum necessitatibus debitis, maxime aspernatur! Temporea
                molestiae perspiciatis voluptatum tempora, quisquam minus
                doloribus dolorem eum, sit iste totam maxime temporibus ipsum
                modi dolor! Rerum quidem perferendis eaque fugiat reprehenderit
                nostrum, optio atque fugit molestiae voluptatibus porro
              </p>
              <!-- <button>Contact Us</button> -->
              <a href="./contact" class="about-process-button"
                >Contact Us</a
              >
            </div>
          </div>

          <!-- Design -->
          <div class="design box-separator">
            <div class="column">
              <img src="./img/about-Design.jpg" alt="" />
            </div>

            <div class="column">
              <h2>Design</h2>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam
                ab voluptatum alias illo, fuga sint eum ipsa fugit cupiditate
                hic, ipsum necessitatibus debitis, maxime aspernatur! Tempore
                molestiae perspiciatis voluptatum tempora, quisquam minus
                doloribus dolorem eum, sit iste totam maxime temporibus ipsum
                modi dolor! Rerum quidem perferendis eaque fugiat reprehenderit
                nostrum, optio atque fugit molestiae voluptatibus porro
              </p>
              <!-- <button>Contact Us</button> -->
              <a href="./contact" class="about-process-button"
                >Contact Us</a
              >
            </div>
          </div>

          <!-- installation -->
          <div class="installation box-separator">
            <div class="column">
              <img src="./img/about-Installation.jpg" alt="" />
            </div>

            <div class="column">
              <h2>Installation</h2>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam
                ab voluptatum alias illo, fuga sint eum ipsa fugit cupiditate
                hic, ipsum necessitatibus debitis, maxime aspernatur! Tempore
                molestiae perspiciatis voluptatum tempora, quisquam minus
                doloribus dolorem eum, sit iste totam maxime temporibus ipsum
                modi dolor! Rerum quidem perferendis eaque fugiat reprehenderit
                nostrum, optio atque fugit molestiae voluptatibus porro
              </p>
              <!-- <button>Contact Us</button> -->
              <a href="./contact" class="about-process-button"
                >Contact Us</a
              >
            </div>
          </div>
        </div>

        <!-- testimonial section  -->
        <div class="about-testimonials">
          <div class="testimonial-card">
            <div class="text">
              Lorem ipsum dolor sit amet consectetur elit. Ipsa voluptatum
              ipsum, laudantium minima aliquam porro? Iste, Et, esta ah
              <i class="fas fa-quote-right quote"></i>
            </div>
            <div class="footer">
              <div class="image1"></div>
              <h3 class="person">Jane Doe</h3>
            </div>
          </div>

          <div class="testimonial-card">
            <div class="text">
              Lorem ipsum dolor sit amet consectetur elit. Ipsa voluptatum
              ipsum, laudantium minima aliquam porro? Iste, Et, esta ah
              <i class="fas fa-quote-right quote"></i>
            </div>
            <div class="footer">
              <div class="image2"></div>
              <h3 class="person">Jane Doe</h3>
            </div>
          </div>

          <div class="testimonial-card">
            <div class="text">
              Lorem ipsum dolor sit amet consectetur elit. Ipsa voluptatum
              ipsum, laudantium minima aliquam porro? Iste, Et, esta ah
              <i class="fas fa-quote-right quote"></i>
            </div>
            <div class="footer">
              <div class="image3"></div>
              <h3 class="person">Jane Doe</h3>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section id="contact-form"></section>

    <!-- footer section -->
    <!-- https://www.homeboxsecure.com/client  -->
    <footer>
      <p>Acme Company, Copyright &copy; 2020</p>
    </footer>
  </body>
</html>
