<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://kit.fontawesome.com/f4b0a1f9eb.js" crossorigin="anonymous"></script>
    <script src="./js/jsScripts.js" defer></script>
    <title>Gallery - Flores Brother Cabinet | Austin, TX</title>
  </head>

  <!-- http://www.manhattancabinets.com/kitchen.html -->
  <body>
    <header>
      <div class="container">
        <div id="branding"> 
          <img src="./img/CabinetLogo.png" alt="company-logo" />
        </div>
        <nav class="nav">
          <div class="nav-mobile"></div>
          <ul class="nav-list">
            <li class="nav-item">
              <a class="current" href="/">Home</a>
            </li>
            <li class="nav-item"><a href="./about">About Us</a></li>
            <li class="nav-item"><a href="./gallery">Gallery</a></li>
            <!-- <li><a href="about.htm">Process</a></li> -->
            <li class="nav-item"><a href="./contact"> Contact Us </a></li>
          </ul>
        </nav>

      </div>
    </header>

    <!-- kitchen section  -->
    <section id="kitchen">
      <div class="container">
        <h1>Kitchen</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, sunt
          quibusdam doloribus deleniti quod reprehenderit ratione. Voluptatem
          eaque nam fugiat nesciunt unde!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolorem
          quia voluptate dolores deleniti repellendus molestias ad porro dolore
          doloribus architecto ullam illum sed qui expedita non, ipsam ex harum
          nobis mollitia blanditiis. Unde, sunt ipsum praesentium dolore
          repellendus eum.
        </p>
        <div class="gallery">
          <a target="_blank" href="img_5terre.jpg">
            <img
              src="./img/kitchen1-unsplash.jpg"
              alt="Cinque Terre"
              width="600"
              height="400"
            />
          </a>
        </div>

        <div class="gallery">
          <a target="_blank" href="img_forest.jpg">
            <img
              src="./img/kitchen2-unsplash.jpg"
              alt="Forest"
              width="600"
              height="400"
            />
          </a>
        </div>

        <div class="gallery">
          <a target="_blank" href="img_lights.jpg">
            <img
              src="./img/kitchen3-unsplash.jpg"
              alt="Northern Lights"
              width="600"
              height="400"
            />
          </a>
        </div>

        <!-- <div class="gallery">
          <a target="_blank" href="img_mountains.jpg">
            <img
              src="./img/kitchen4-unsplash.jpg"
              alt="Mountains"
              width="600"
              height="400"
            />
          </a>
        </div> -->
      </div>
    </section>

    <!-- countertop section -->
    <section id="countertops">
      <div class="container">
        <h1>CounterTop</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, sunt
          quibusdam doloribus deleniti quod reprehenderit ratione. Voluptatem
          eaque nam fugiat nesciunt unde!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolorem quia
          voluptate dolores deleniti repellendus molestias ad porro dolore
          doloribus architecto ullam illum sed qui expedita non, ipsam ex harum
          nobis mollitia blanditiis. Unde, sunt ipsum praesentium dolore
          repellendus eum.
        </p>

        <div class="gallery">
          <a target="_blank" href="img_mountains.jpg">
            <img
              src="./img/countertop2-unsplash.jpg"
              alt="Mountains"
              width="600"
              height="400"
            />
          </a>
        </div>

        <div class="gallery">
          <a target="_blank" href="img_mountains.jpg">
            <img
              src="./img/countertop3-unsplash.jpg"
              alt="Mountains"
              width="600"
              height="400"
            />
          </a>
        </div>


        <div class="gallery">
          <a target="_blank" href="img_mountains.jpg">
            <img
              src="./img/countertop4-unsplash.jpg"
              alt="Mountains"
              width="600"
              height="400"
            />
          </a>
        </div>


        <!-- <div class="gallery">
          <a target="_blank" href="img_mountains.jpg">
            <img
              src="./img/countertop5-unsplash.jpg"
              alt="Mountains"
              width="600"
              height="400"
            />
          </a>
        </div> -->
        
      </div>
    </section>

    <!-- bathroom section -->
    <section id="bathroom">
      <div class="container">
        <h1>Bathroom</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, sunt
          quibusdam doloribus deleniti quod reprehenderit ratione. Voluptatem
          eaque nam fugiat nesciunt unde!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolorem
          quia voluptate dolores deleniti repellendus molestias ad porro dolore
          doloribus architecto ullam illum sed qui expedita non, ipsam ex harum
          nobis mollitia blanditiis. Unde, sunt ipsum praesentium dolore
          repellendus eum.
        </p>

        <div class="gallery">
          <a target="_blank" href="img_mountains.jpg">
            <img
              src="./img/bathroom2-unsplash.jpg"
              alt="Mountains"
              width="600"
              height="400"
            />
          </a>
        </div>

        <div class="gallery">
          <a target="_blank" href="img_mountains.jpg">
            <img
              src="./img/bathroom3-unsplash.jpg"
              alt="Mountains"
              width="600"
              height="400"
            />
          </a>
        </div>

        <div class="gallery">
          <a target="_blank" href="img_mountains.jpg">
            <img
              src="./img/bathroom4-unsplash.jpg"
              alt="Mountains"
              width="600"
              height="400"
            />
          </a>
        </div>

        <!-- <div class="gallery">
          <a target="_blank" href="img_mountains.jpg">
            <img
              src="./img/bathroom1-unsplash.jpg"
              alt="Mountains"
              width="600"
              height="400"
            />
          </a>
        </div> -->
      </div>   
    </section>

    <!-- builtin section
    <section id="builtin">
      <h1>Built Ins</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, sunt
        quibusdam doloribus deleniti quod reprehenderit ratione. Voluptatem
        eaque nam fugiat nesciunt unde!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolorem
        quia voluptate dolores deleniti repellendus molestias ad porro dolore
        doloribus architecto ullam illum sed qui expedita non, ipsam ex harum
        nobis mollitia blanditiis. Unde, sunt ipsum praesentium dolore
        repellendus eum.
      </p>
      <div class="gallery">
        <h1>Builtin</h1>
      </div>
    </section> -->

    <!-- footer section -->
    <!-- https://www.homeboxsecure.com/client  -->
    <footer>
      <p>Acme Company, Copyright &copy; 2020</p>
    </footer>
  </body>
</html>
