<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <script
      src="https://kit.fontawesome.com/f4b0a1f9eb.js"
      crossorigin="anonymous"
    ></script>
    <script src="./js/jsScripts.js" defer></script>

    <title>Flores Brother Cabinet | Austin, TX -</title>
  </head>

  <!-- http://www.manhattancabinets.com/kitchen.html -->
  <body>
    <header>
      <div class="container">
        <div id="branding"> 
          <img src="./img/CabinetLogo.png" alt="company-logo" />
        </div>
        <nav class="nav">
          <div class="nav-mobile"></div>
          <ul class="nav-list">
            <li class="nav-item">
              <a class="current" href="/">Home</a>
            </li>
            <li class="nav-item"><a href="/about">About Us</a></li>
            <li class="nav-item"><a href="./gallery">Gallery</a></li>
            <!-- <li><a href="about.htm">Process</a></li> -->
            <li class="nav-item"><a href="./contact"> Contact Us </a></li>
          </ul>
        </nav>

      </div>
    </header>

    <!-- slide image and call to action section  -->
    <section id="showcase">
      <div class="container">
        <!-- slider -->
        <!-- message -->
      </div>
    </section>

    <!-- service section -->
    <section id="service">
      <div class="container">
        <!-- header, paragraoh and image -->
        <div class="box">
          <h1>Build Your Dream</h1>
          <h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
            neque natus est molestiae quod hic.
          </h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem
            cum dolor vitae modi quisquam a fuga minus vel eligendi id quod,
            quidem aliquid sequi. Vero!
          </p>
        </div>

        <div class="box">
          <img src="./img/pexels-curtis-adams-5900800.jpg" alt="Services" />
        </div>
      </div>
    </section>

    <!-- footer section -->
    <!-- https://www.homeboxsecure.com/client  -->
    <footer>
      <p>Acme Company, Copyright &copy; 2020</p>
    </footer>


  </body>
</html>
